.chart-continer{
 display: flex;
 justify-content: center;
 align-items: center;
}
.line{
    fill: none;
    stroke:steelblue;
    stroke-width: 2;
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}